---
name: CI/CD

"on":
  push:
    branches:
      - master
      - develop
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master
  release:
    types:
      - published

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          make install
          make install-dev

      - name: Test and lint
        run: |
          make check-all

      - name: Upload coverage reports to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish coverage report
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-${{ github.job }}-${{ github.run_number }}-${{ matrix.python-version }}
          path: |
            .coverage
            coverage.xml
            htmlcov/
          include-hidden-files: true
          if-no-files-found: ignore

      - uses: pre-commit-ci/lite-action@v1.1.0
        if: always()

  build:
    needs:
      - test
    permissions:
      contents: write # needed by svenstaro/upload-release-action and ncipollo/release-action
    environment: Python
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'release' ||
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Build package
        run: make build

      - name: Check build
        run: twine check dist/*

      - name: Generate changelog
        id: changelog
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          allowUpdates: true
          generateReleaseNotes: true
          draft: false
          prerelease: ${{ contains(github.ref_name, '-') }}

      - name: Upload wheel to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file:
            dist/ai_linter-${{ github.ref_name }}-py3-none-any.whl
          tag: ${{ github.ref }}
          overwrite: true
          asset_name: ai_linter-${{ github.ref_name }}-py3.12.whl

      - name: Publish to PyPI
        if: github.event_name == 'release'
        continue-on-error: true
        env:
          TWINE_USERNAME: ${{ vars.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: twine upload dist/* --verbose --non-interactive --skip-existing
